@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');


nav{
	background-color: #081C15;
}
.navbar-brand{
	font-family: Playball, sans-serif !important;
	font-size: 40px !important;
	margin-left: 5% !important;
	color: #D8F3DC !important;
}

.nav-link {
  font-size: 28px !important;
  font-family: Playball, sans-serif !important;
  color: #D8F3DC !important;
  margin-left: 20% !important;
}

.nav-link:hover {
  color: #2D6A4F !important;
}

.disable {
  pointer-events: none !important; 
}

